@import "tailwindcss";

body,
html {
  min-height: 100vh;
  width: 100vw;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
  --animate-fade-in-scale: fade-in-scale 2s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@layer utilities {
  .bg-paint {
    background:
      linear-gradient(to right, rgb(147, 182, 139), rgb(78, 99, 89)),
      url("../assets/Adsız_Resim.JPG");
    background-size: cover;
    background-blend-mode: overlay;
  }

  .bg-portfolio {
    background: linear-gradient(to right, rgb(107, 139, 99), rgb(24, 92, 60));
    background-size: cover;
    background-blend-mode: overlay;
  }
}
